<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login_wrapper">
      <div id="wrapper">
        <%= image_tag('logo_login.png', style: "width: 40px;") %>
        <div class="log_box">
          <h5>Log into you account</h5>
          <div class="form-box">
            <%= image_tag('user.png') %>
            <%= f.email_field :email, class: "form-user", placeholder: "user@example.com", autofocus: true %>
          </div>
          <div class="form-box password-form">
            <%= image_tag('password.png', class: "icon-password") %>
            <%= f.password_field :password, class: "form-password", placeholder: "*********", autocomplete: "off" %>
          </div>

          <div class="login-btn">
            <%= f.submit "Sign up ", class: "btn btns" %>
          </div>
          <div class="other-stuffs">
            <p>New to Scrapp? <%= link_to "Sign up", new_user_registration_path, class: "font-italic" %></p>
          </div>
        </div>

      </div>
      <p class="copyrights">&copy; 2017 Eletonic.tk</p>

    </div>
<% end %>
